venv/
__pycache__
# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files (if you add any API keys/config later)
.env
.env.local